@model lavAspMvclast.ViewModels.RegisterViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
 

 

<h2>Регистрация нового пользователя</h2>

<form method="post" asp-controller="Account" asp-action="Register">

   <div asp-validation-summary="ModelOnly"></div>

   <div>

       @Localizer["Email"]

       <input asp-for="Email" />

       <span asp-validation-for="Email"></span>

   </div>

   <div>

       @Localizer["Password"]

       <input asp-for="Password" />

       <span asp-validation-for="Password"></span>

   </div>

   <div>

       @Localizer["PasswordConfirm"]

       <input asp-for="ConfirmPassword" />

       <span asp-validation-for="ConfirmPassword"></span>

   </div>

   <div>

       <input type="submit" value="@Localizer["Register"]" />

   </div>

</form>